<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>商标联合查询系统</title>
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/simple-line-icons/simple-line-icons.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.css}">

	<link media="all" rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-fileinput/css/fileinput.css}" >
	<link media="all" rel="stylesheet" type="text/css" th:href="@{/plugins/dataTables/datatables.min.css}" >

	<!-- BEGIN THEME STYLES -->
	<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
	<link th:href="@{/css/components-rounded.css}" id="style_components" rel="stylesheet" type="text/css">
	<link th:href="@{/css/plugins.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/default.css}" rel="stylesheet" type="text/css" id="style_color">
	<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css">
	<!-- END THEME STYLES -->
	
	<style type="text/css">
		th,td{
			vertical-align: middle !important;
			text-align: center;
		}
	</style>
</head>
<body>
	<!-- BEGIN HEADER -->
	<div class="page-header">
		<!-- BEGIN HEADER MENU -->
		<div class="page-header-menu">
			<div class="container">
				<!-- END HEADER SEARCH BOX -->
				<!-- BEGIN MEGA MENU -->
				<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
				<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
				<div class="menu-title">
					商标联合查询系统
				</div>
				<div class="hor-menu ">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="index"><i class="icon-home"></i> 导入</a>
						</li>
						<li>
							<a href="record"><i class="icon-wallet"></i> 记录</a>
						</li>
						<li>
							<a href="query"><i class="icon-magnifier"></i> 查询</a>
						</li>
					</ul>
				</div>
				<!-- END MEGA MENU -->
			</div>
		</div>
		<!-- END HEADER MENU -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN PAGE CONTAINER -->
	<div class="page-container">
		<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="row margin-top-10">
					<div class="col-md-12 col-sm-12">
						<!-- BEGIN PORTLET-->
						<div class="portlet light ">
							<div class="portlet-title">
								<div class="caption caption-md">
									<i class="icon-bar-chart theme-font hide"></i>
									<i class="icon-pin font-green"></i>
									<span class="caption-subject theme-font bold uppercase">文件上传</span>
									<span class="caption-helper hide">weekly stats...</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="file">
						    		<input id="input-ke-2" name="file" type="file" multiple>
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
	<script type="text/javascript" th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/bootstrap-fileinput/js/fileinput.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/bootstrap-fileinput/themes/fas/theme.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/datatables/datatables.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			fileInit();			
		});

		function fileInit(){
			$("#input-ke-2").fileinput({
		        language:'zh', 
		        maxFileCount:1, //表示允许同时上传的最大文件个数
            	dropZoneTitle: '拖拽文件到这里 <br>或点击选择按钮',
		        uploadUrl: "/batch/upload",         // 上传地址
		        // showPreview: false
		    });
		    // 上传成功回调
		    $("#input-ke-2").on("filebatchuploadcomplete", function() {
		        // layer.msg("上传附件成功");
		        // setTimeout("closeUpladLayer()",2000)
				$.post("/batch/query",{},function(result){});

		    });
		    // 上传失败回调
		    $('#input-ke-2').on('fileerror', function(event, data, msg) {
		        layer.msg(data.msg);
		        tokenTimeOut(data);
		    });
		}
	</script>
</html>