<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/loading/loading.css}">
    <style>
        .loading {
            background: #00000040;
            z-index: 9999;
        }
        .panel-body {
            height: 260px;
            text-align: center;
        }
    </style>
</head>
<body class="row">

    <div class="col-md-8 col-md-push-2 col-xs-12">
        <div class="page-header">
            <h2>商标联合查询系统</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入商标名称" id="search_text">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search_btn"  data-loading-text="Loading...">查询</button>
                  </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-4 " >
                <div class="panel panel-info trademark">
                    <div class="panel-heading">
                        USPTO : <label id="USPTO_count"></label>
                        <i class="icon-spinner icon-spin"></i></div>
                    <div class="panel-body loading-USPTO">
                        <div class="modal fade loading" id="myModal" tabindex="-1" role="dialog"
                             aria-hidden="true" data-backdrop="static" data-keyboard="false">
                        </div>
                        <img th:src="@{/img/uspto.jpg}" height="230px" alt="USPTO"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default trademark">
                    <div class="panel-heading">UK IPO :<label id="UK_count"></label></div>
                    <div class="panel-body loading-UK">
                        <img th:src="@{/img/UK.png}" height="230px" alt="UK IPO"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default panel-info trademark">
                    <div class="panel-heading">DPMA :<label id="DPMA_count"></label></div>
                    <div class="panel-body loading-DPMA">
                        <img th:src="@{/img/DPMA.jpg}" width="230px" alt="DPMA"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4" hidden>
                <div class="panel panel-default">
                    <div class="panel-heading">EUIPO</div>
                    <div class="panel-body loading-EUIPO">
                        <img th:src="@{/img/EUIPO.png}" width="230px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!--JQuery-->
<script th:src="@{/jquery-3.4.0.min.js}"></script>
<!--bootstrap-->
<script  th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
<script  th:src="@{/loading/loading.js}"></script>
<script>
    $("#search_btn").click(function () {

        var searchText = $("#search_text").val();
        $(this).button('loading')

        $('.loading-USPTO').loading('show');
        $('.loading-UK').loading('show');
        $('.loading-DPMA').loading('show');

        $.post("/trademark/searchFromUSPTO",{trademarkName:searchText},function(result){
            var trademarkInfo = result.trademarkInfo;
            $('#' + result.trademarkOffice + '_count').text(trademarkInfo.count);
            deal(result.trademarkOffice)
        });
        // $.post("/trademark/searchTrademarkFromEUIPO",{trademarkName:searchText},function(result){
        //     var trademarkInfo = result.trademarkInfo;
        //     $('#' + result.trademarkOffice + '_count').text(trademarkInfo.count);
        // });
        //
        $.post("/trademark/searchTrademarkFromUK",{trademarkName:searchText},function(result){
            var trademarkInfo = result.trademarkInfo;
            $('#' + result.trademarkOffice + '_count').text(trademarkInfo.count);
            deal(result.trademarkOffice)
        });

        $.post("/trademark/searchTrademarkFromDPMA",{trademarkName:searchText},function(result){
            var trademarkInfo = result.trademarkInfo;
            $('#' + result.trademarkOffice + '_count').text(trademarkInfo.count);
            deal(result.trademarkOffice)
        });
    });

    var dealCount = 0;
    function deal(tag) {
        $('.loading-'+tag).loading('hide');
        dealCount++;
        if (dealCount === 3) {
            $("#search_btn").button('reset');
        }
    }
</script>

</html>